* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;

    font-family: 'font-simples';
}

a {
    text-decoration: none;
}


button {
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}