.pedido {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pedido {
  background: var(--primary-4);
}

/* ------------ */

.p-chamado {
  font-size: clamp(1.5rem, 2.5vw, 3rem);

  color: var(--primary-3);
}

.valor-poke-menor {
  font-size: clamp(2rem, 2.5rem, 3rem);
  font-family: 'font-tema';

  background-color: var(--primary-1);
  color: var(--primary-3);

  border-radius: 20px;
  padding: 10px 10px;
  position: absolute;
}

.valor-poke-menor {
  bottom: 0;
  left: 0;

  transform: translateX(-25%) translateY(-155%);
}

.valor-poke-maior {
  font-size: clamp(2rem, 2.5rem, 3rem);
  font-family: 'font-tema';
  background-color: var(--primary-1);
  color: var(--primary-3);

  border-radius: 20px;
  padding: 10px 10px;
  position: absolute;
}

.valor-poke-maior {
  top: 0;
  right: 0;

  transform: translateX(25%) translateY(120%)
}

.continuar-pedido {
  background: var(--primary-3);
  color: var(--primary-4);

  padding: .5% 2%;

  border-radius: .1rem 4rem;

  font-size: clamp(1.5rem, 2rem, 2.5rem);
  font-weight: 600;
}