.resumo {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16.5rem;

  background: var(--primary-4);
}

.linha {
  height: .1rem;
  width: 70%;

  background: var(--primary-2);

  margin: 3.1rem 0 2.8rem 0;
}

.resumo h1 {
  font-size: clamp(1.2rem, 2dvw, 2rem);

  transform: translateY(2.5rem);

  color: var(--primary-1);
}

.card-pedido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 54.4rem;
  width: 38.2rem;

  background: var(--primary-7);

  border-radius: 3rem;
}

.resumo-pedido {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  width: 100%;
  height: 70dvh;
}

.info-pedido {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.info-pedido .span-tamanho {
  color: var(--primary-2);

  font-size: clamp(1rem, 1.5dvw, 1.5rem);
}

.info-pedido .span-ingrediente {
  color: var(--primary-1);

  font-size: clamp( 1rem, 1dvw, 1.1rem);
}

.info-pedido .span-valor {
  color: var(--primary-4);

  font-size: clamp( 1rem, 1dvw, 1.1rem);

  text-align: end;

  margin: .5rem 0 0 0;
}

.total {
  height: 30dvh;

  text-align: end;

  transform: translateX(9rem);

  font-size: clamp(1rem, 1.5dvw, 1.8rem);

  color: var(--primary-1);
}

.total .valor-final {
  font-weight: bold;
}

/* ********** fim card do pedido ********** */

form {
  height: 54.4rem;
  width: 38.2rem;

  gap: 2rem;
}

.form-entrega h2 {
  font-size: clamp(1.2rem, 2dvw, 2rem);

  transform: translateY(-9rem);

  color: var(--primary-3);
}

.form-entrega {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-input {
  display: flex;
  flex-direction: column;

  width: 90%;
}

.box-input input {
  padding: 1rem;

  border-radius: .5rem;
  border: none;

  background: var(--primary-7);

  font-size: clamp(1.2rem, 1.2dvw, 1.2rem);
}

.box-input label {
  text-align: start;

  font-size: clamp(1.2rem, 2dvw, 2rem);

  color: var(--primary-2);
}

.input-radio {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-2);

  gap: 1rem;

  font-weight: bold;
  font-size: clamp(1.2rem, 2dvw, 2rem);
}

.radio{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;

  appearance: none;

  cursor: pointer;

  border-radius: 50%;
  border: .2rem solid var(--primary-3);

  position: relative;
}

.radio:after {
  content: '';

  width: 1.5rem;
  height: 1.5rem;

  background: var(--primary-3);

  position: absolute;

  border-radius: 50%;

  opacity: 0;
}

.radio:checked:after {
  opacity: 1;
}